<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.kavsdkexample.core">
    <application>
        <!-- Declare this service in your application if you want to enable accessibility usage for Kaspersky Mobile SDK features such as Application Control, Web Filtering, Task reputation-->
        <service
            android:name="com.kaspersky.components.accessibility.KasperskyAccessibility"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" >
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data android:name="android.accessibilityservice" android:resource="@xml/accessibility_service_config" />
        </service>
    </application>
</manifest>
